@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --color-bg: #FFFFFF;
    --color-bg-variant: #E5E5E5;
    --color-primary: #202020;
    --color-primary-variant: #000000;
    --color-accent: #FCA311;
    --color-blue: #0085CF;
    --color-blue-variant: #14213D;
    --border: 2px solid var(--color-accent);
    --border-radius: 15px;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    width: 100%;
}


/***************** NAVBAR SECTION ****************/

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    color: #000;
    z-index: 100;
    background-color: var(--color-primary);
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2rem;
    color: #fff;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1rem;
}

.navbar a{
    color: var(--color-bg);
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: var(--color-accent);
}
/***************** HERO SECTION ****************/

#hero-container {
    width: 100%;
}
  
#bg {
    background-image: url("assests/foothills_school.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
   
#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    opacity: 0.8;
}
  
#hero-title {
    font-family: Arial Narrow, sans-serif;
    color: #FFF;
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 2rem;
}
  
.sitetitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#hero-content {
    color: var(--color-bg-variant);
    text-align: center;
}

.hero-button {
    border: var(--border);
    padding: 1rem;
    width: 200px;
    font-size: 1.5rem;
    color: var(--color-accent);
    text-decoration: none;
    border-radius: 50px;
    margin-top: 2rem;
    text-align: center;
}

.hero-button:hover {
    background-color: var(--color-accent);
    color: var(--color-primary-variant);
}